<div class="footer-container">
    <div class="first-area">
        <img src="./images/Logo-big.png" alt="Cooking is easy">
        <p>Easy Looking, Easy Cooking</p>
    </div>
    <div class="my-area">
        <p class="title">LIÊN HỆ</p>
        <p class="a1">Email: cococook.net@gmail.com</p>
        <p class="a2">Phone: +12345687</p>
        <div class="copy">
            <p>Copyright © 2020 CoCoCook Corp.</p>
            <p>All right reserved</p>
        </div>
    </div>
    <div class="my-area">
        <p class="title">QUAY LẠI</p>
        <p class="a1" onclick="window.location.href='/home'">Trang chủ</p>
        <p class="a2" onclick="window.location.href='/recommend'">Gợi ý món ăn</p>
        <p class="a3" onclick="window.location.href='/myrecipe'">Món ăn của tôi</p>
    </div>
    <div class="my-area">
        <p class="title">TÀI KHOẢN</p>
        <p class="a1" onclick="window.location.href='/myprofile'">Hồ sơ cá nhân</p>
        <p class="a2" onclick="window.location.href='/setting'">Cài đặt</p>
        <p class="a3" onclick="window.location.href='/404'">Thoát</p>
    </div>
    <div class="my-area">
        <div class="text-container">
            <p class="title">KẾT NỐI VỚI CHÚNG TÔI</p>
        </div>  

        <div class="icon-container">
            <i style = "color: blue; font-size: 2em;" class="fa fa-facebook-official"></i>
            <i style = "color: red; font-size: 2em; "class="fab fa-youtube"></i>
            <i style = "color: rgb(9, 86, 138); font-size: 2em;" class="fab fa-twitter-square"></i>
        </div>

    </div>
</div>
