<div class="nav-container">
    <div class="logo-area"  onclick="window.location.href='/'">
        <img src="./images/logo.png">
    </div>
    <div class="search-area">
        <div class="search-area-prepend">
          <span class="search-area-text" id="basic-addon1"><img src="./images/search.png"> </span>
        </div>
        <input type="text" class="form-control" placeholder="Bạn đang tìm kiếm món ăn nào?" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="center-area-nav">
      <div id = "noti-area">
        <div class="noti-content">
          <div class="noti-content-name"> <img src = "./images/bell.png"> </div>
            <div class="list">
                    <div class="item">
                      <img id = 'item-type' src = './images/comment.png'>
                      <p id="item-content">
                        Bạn có một đánh giá mời từ 
                        <span id = 'item-username'>CoCoCook</span>
                      </p>
                      <img id = 'item-avatar' src = './images/avatar.jpg'>
                    </div>
                    <div class="item">
                      <img id = 'item-type' src = './images/lotus.png'>
                      <p id="item-content">
                        Bạn nhận được một hoa sen từ 
                        <span id = 'item-username'>CoCoCook</span>
                      </p>
                      <img id = 'item-avatar' src = './images/avatar.jpg'>
                    </div>

                  </div>
        </div>
      </div>
      <div class="dropdown-profile">
          <img id="avatar" src="./images/avatar.jpg" alt="Avatar">
          <div class="dropdown-profile-name">Lê Xuân Cường</div>
          <div class="list">
              <div class="item" id="item-user"> 
                <img width="23" src="./images/user.png"> 
                <p> Hồ sơ cá nhân</p>
              </div>
              <div class="item" id ='item-setting'> 
                <img width="23" src="./images/setting.png"> 
                <p> Cài đặt</p>
              </div>
              <div class="item" id = "item-out"> 
                <img width="23" src="./images/signout.png"> 
                <p> Thoát</p>
              </div>
            </div>

          <span class = "icon-group">
            <img src="./svg/arrow.svg" />
          </span>
      </div>
    </div>
    <div class="right-area-nav">
      <div class="link-item" id = 'btn-home' onclick="window.location.href='/home'">
          <p>Trang chủ</p>
      </div>
      <div class="link-item" id = 'btn-recommend' onclick="window.location.href='/recommend'">
          <p>Gợi ý bữa ăn</p>
      </div>
      <div class="link-item" id = 'btn-myrecipe' onclick="window.location.href='/myrecipe'">
          <p>Món ăn của tôi</p>
      </div>
    </div>
    <div class="menu-area">
      <div class="menu">
        <div class="menu-name"> <img src = "./images/menu.png"> </div>
          <div class="list">
                  <div class="item">Trang chủ</div>
                  <div class="item">Gợi ý bữa ăn</div>
                  <div class="item">Món ăn của tôi</div>
          </div>
      </div>
    </div>

</div>