<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">
    <img src="./images/logo.png" height="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline col-sm-4 col-11" >
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><img width="23" src="./images/search.png"> </span>
        </div>
        <input type="text" class="form-control" placeholder="Bạn đang tìm kiếm món ăn nào?" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gợi ý bữa ăn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Món ăn của tôi</a>
      </li>
      <li class="nav-item">
        <div class = "noti-area">
          <svg class="Rectangle_17">
            <rect fill="rgba(223,223,224,1)" id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="3" height="65">
            </rect>
          </svg>
          <img id = "btn-noti" width="23" src="./images/bell.png"> 
        </div>
      </li>
      <li class="nav-item">
          <div class="dropdown-profile">
            <img id="avatar" src="./images/avatar.jpg" alt="Avatar">
            <div class="dropdown-profile-name">Lê Xuân Cường</div>
            <div class="list">
                <div class="item" id="item-user"> 
                  <img width="23" src="./images/user.png"> 
                  <p> Hồ sơ cá nhân</p>
                </div>
                <div class="item" id ='item-setting'> 
                  <img width="23" src="./images/setting.png"> 
                  <p> Cài đặt</p>
                </div>
                <div class="item" id = "item-out"> 
                  <img width="23" src="./images/signout.png"> 
                  <p> Thoát</p>
                </div>
              </div>

            <span class = "icon-group">
              <img src="./svg/arrow.svg" />
            </span>
          </div>
      </li>
    </ul>
    
  </div>
</nav>