<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/greeting.css" rel="stylesheet">


    <style>
        .container-warwing{
            width: 100%; 
            display: flex; 
            justify-content: center; 
            margin-top: 5%;
        }
        .warwing{
            border-radius: 2em;
            width: 80%; 
            background-image: linear-gradient(to right, #667eea,#8E37D7);
            color: white;
            text-align: center;
            font-size: 3em;
            font-weight: 600;
            vertical-align: center;
            padding:5%;
        }
    </style>

    <title>Document</title>
</head>
<body>
    <div class = "container-fluid">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-transparent sticky-top ">
        <div class="container-fluid">
            <a class="navbar-branch" href="/">
                <img src="./images/logo.png" height="50">
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>
        </div>
    </nav>
    <!-- Carousel -->
    <div id = slides>
        <div id="carouselExampleIndicators" class="carousel slide"  data-ride="carousel">
            <ol class="carousel-indicators">    
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

            </ol>
            <div class="carousel-inner">
            <div class="carousel-item table .background active">
                <img class="d-block w-100" id ="layer" src="./images/picture/caro1.jpg"  alt="First slide">
            </div>
            <div class="carousel-item table">
                <img class="d-block w-100 bg-image" id ="layer" src="./images/picture/caro4.jpg" alt="Second slide">
            </div>
            <div class="carousel-item table">
                <img class="d-block w-100 bg-image" id ="layer" src="./images/picture/caro5.jpg" alt="Third slide">
            </div>
            <div class="carousel-item table">
                <img class="d-block w-100 bg-image" id ="layer" src="./images/picture/caro2.jpg" alt="Third slide">
            </div>
            </div>
        </div>
    </div>
    <div class = 'caption col-md-12 col-sm-12'>
        <div class = "container-warwing">
            <div class = "warwing">
                ĐƯỜNG DẪN KHÔNG TỒN TẠI
            </div>
        </div>
    </div>  
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='./js/greeting.js'></script>
    <%- include("./partials/foot") -%> 

</body>
</html>
