<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") -%> 
   
    <!-- <link href="./css/home.css" rel="stylesheet"> -->

    <link href="./css/partials/headertmp.css" rel="stylesheet">
    <link href="./css/partials/footer.css" rel="stylesheet">

    <link href="./css/partials/dropdown.css" rel="stylesheet">
    <link href="./css/partials/card.css" rel="stylesheet">
    <link href="./css/partials/button.css" rel="stylesheet">
    <link href="./css/partials/layout.css" rel="stylesheet">

    <link href="./css/myrecipe.css" rel="stylesheet">
    <link href="./css/admin.css" rel="stylesheet">


    <script>
        $( document ).ready(function() {
    $('.clickToggle').click(function() {
        $(this).children('div').toggleClass('imgPlus imgMinus');
    });
    });
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!-- Load thư viện vào tập tin  -->
        <%- include("./partials/headertmp") -%> 
        <div class="content-container">
            <div class="left-area">
                <div class="user-area">
                    <img src ="./images/avatar.jpg">
                    <p class = "username">Lê Xuân Cường (Admin)</p>
                </div>
            </div>


            <div class="main-area-recipe">
                <div class = "admin-container">
                    <p class = 'numUser1'>LƯỢNG TRUY CẬP</p> 
                    <i id = 'color-icon' class="fas fa-mouse-pointer"></i>
                    <p class = 'numUser2'>10000</p>
                </div>


                <div class = "admin-container">
                    <p class = 'numUser1'>SỐ CÔNG THỨC HIỆN CÓ</p> 
                    <i id = 'color-icon' class="fas fa-receipt"></i>
                    <p class = 'numUser2'>10000</p>
                </div>

                <div class = "admin-container">
                    <p class = 'numUser1'>SỐ LƯỢNG TÀI KHOẢN</p> 
                    <i id = 'color-icon' class="fas fa-users"></i>
                    <p class = 'numUser2'>10000</p>
                </div>


                <div id="chart_div"></div>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    google.charts.load('current', {packages: ['corechart', 'line']});
                    google.charts.setOnLoadCallback(drawBackgroundColor);

                    function drawBackgroundColor() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'X');
                        data.addColumn('number', 'Số lượng người dùng');

                        data.addRows([
                            [0, 0],   [1, 10],  [2, 23],  [3, 17],  [4, 18],  [5, 9],
                            [6, 11],  [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
                            [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
                            [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
                            [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
                            [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
                            [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
                            [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
                            [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
                            [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
                            [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
                            [66, 70], [67, 72], [68, 75], [69, 80]
                        ]);

                        var options = {
                            hAxis: {
                            title: 'Ngày'
                            },
                            vAxis: {
                            title: 'Số lượng'
                            },
                            backgroundColor: '#fff'
                        };

                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                        }
                </script>


            </div>
           
            


         </div>

    </div>
    <footer>
        <%- include("./partials/footer") -%> 
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='./js/home.js'></script>
    <script src='./js/header.js'></script>
</body>
</html>

