<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") -%> 
   
    <link href="./css/partials/headertmp.css" rel="stylesheet">
    <link href="./css/partials/footer.css" rel="stylesheet">

    <link href="./css/partials/dropdown.css" rel="stylesheet">
    <link href="./css/partials/card.css" rel="stylesheet">
    <link href="./css/partials/button.css" rel="stylesheet">    
    <link href="./css/partials/layout.css" rel="stylesheet">


    <link href="./css/for-item.css" rel="stylesheet">
    <link href="./css/comment.css" rel="stylesheet">


    <script>
        $( document ).ready(function() {
    $('.clickToggle').click(function() {
        $(this).children('div').toggleClass('imgPlus imgMinus');
    });
    });
    </script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!-- Load thư viện vào tập tin  -->
        <%- include("./partials/headertmp") -%> 
        <div class="content-container">
            <div class="left-area">
                <div class = "show-category-container">
                    <p>TÌM KIẾM THEO NHÓM</p>
                    <div class = "show-list-category">
                    <!-- Nội dung trong file jquery -->
                        <!-- <div class="category">
                            <div class="dropdown-category">
                                <div class="dropdown-category-name">Loại món ăn </div>
                                <span class = "icon-category">
                                    <img src="./svg/arrow.svg" />
                                </span>
                                <div class="list">
                                        <div class="item">Option 1</div>
                                        <div class="item">Option 2</div>
                                        <div class="item">Option 3</div>
                                        <div class="item">Option 4</div>
                                        <div class="item">Option 5</div>
                                </div>

                            </div>
                        </div>             -->
                    </div>
                </div>
            </div>
            <div class="main-area">
            <div class="container-info">
                <!-- Phần header của chỉ mục item -->
                <div class="tool-bar">
                    <div class="left-tool-bar">
                        <p id="heading-tool-bar">
                            <span id="span-comment-title">Đánh giá</span> Bánh canh cua đồng
                        </p>
                        <div class="user-tool-bar">
                            <img id="avatar-toolbar" src="./images/avatar.jpg" alt="Avatar">
                            <p id="username-toolbar">Lê Xuân Cường</p>
                        </div>
                    </div>
                    <div class="right-tool-bar">
                            <button class="btn" id="btn-lotus"><i id = 'color-item' class="fas fa-spa"></i></button>
                            <button class="btn" id="btn-clock"><i id = 'color-item' class="fas fa-clock"></i></button>
                            <button class="btn" id="btn-team"><i id = 'color-item' class="fas fa-users"></i></button>
                            <button class="btn" id="btn-fire"><i id = 'color-item' class="fas fa-fire-alt"></i></button>
                    </div>
                </div>

                <div class="comment-area">
                    <div class="comment-container">
                        <div class="comment-item">
                            <div class="user-tool-bar with1">
                                <img id="avatar-toolbar" src="./images/avatar.jpg" alt="Avatar">
                                <p id="username-toolbar">Lê Xuân Cường</p>
                            </div>  
                            <p id = 'UserComment'>
                                Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk
                                egg and butter into "soured" milk. Pour the flour mixture into the wet ingredients and whisk
                                until lumps are gone.
                            </p>                      
                            <p id = 'timeUserComment'>
                                12/12/2020
                            </p> 
                        </div>

                        <div class="comment-item">
                            <div class="user-tool-bar with1">
                                <img id="avatar-toolbar" src="./images/avatar.jpg" alt="Avatar">
                                <p id="username-toolbar">Lê Xuân Cường</p>
                            </div>  
                            <p id = 'UserComment'>
                                Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk
                                egg and butter into "soured" milk. Pour the flour mixture into the wet ingredients and whisk
                                until lumps are gone.
                            </p>                      
                            <p id = 'timeUserComment'>
                                12/12/2020
                            </p> 
                        </div>
                    </div>



                    <div class="comment-write-area">
                        <img id="avatar-toolbar" src="./images/avatar.jpg" alt="Avatar">
                        <input type="text" placeholder="Viết đánh giá....">
                    </div>

                    <div class="comment-back-area">
                        <img id = "backbtn" src="./images/toleft.png" alt="Back" onclick="window.location.href='/item'">
                        <p onclick="window.location.href='/item'">Món ăn</p>
                        <button class="btn" id="btn-lotus-template"><i id = 'color-item' class="fas fa-spa"></i></button>
                    </div>
                    
                </div>

                

            </div>

            <div class = "btn-add-new">
                <button class="btn-hover color-3" onclick="window.location.href='/postrecipe'"><i class="fas fa-plus" id ='ico-plus'></i></button>
                <p>Tạo món ăn mới</p>
            </div>
        </div>

        <div class="right-area">

        </div>
        </div>
    </div>

    <footer>
        <%- include("./partials/footer") -%> 
    </footer>
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='./js/home.js'></script>
    <script src='./js/header.js'></script>
</body>
</html>

