<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") -%> 
   
    <link href="./css/partials/headertmp.css" rel="stylesheet">
    <link href="./css/partials/dropdown.css" rel="stylesheet">
    <link href="./css/partials/card.css" rel="stylesheet">
    <link href="./css/partials/button.css" rel="stylesheet">

    <link href="./css/for-item.css" rel="stylesheet">
    <link href="./css/comment.css" rel="stylesheet">


    <script>
        $( document ).ready(function() {
    $('.clickToggle').click(function() {
        $(this).children('div').toggleClass('imgPlus imgMinus');
    });
    });
    </script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!-- Load thư viện vào tập tin  -->
        <%- include("./partials/headertmp") -%> 
        <div class="content-container">
            <div class="left-area">
                <div class = "show-category-container">
                    <p>TÌM KIẾM THEO NHÓM</p>
                    <div class = "show-list-category">
                    <!-- Nội dung trong file jquery -->
                        <!-- <div class="category">
                            <div class="dropdown-category">
                                <div class="dropdown-category-name">Loại món ăn </div>
                                <span class = "icon-category">
                                    <img src="./svg/arrow.svg" />
                                </span>
                                <div class="list">
                                        <div class="item">Option 1</div>
                                        <div class="item">Option 2</div>
                                        <div class="item">Option 3</div>
                                        <div class="item">Option 4</div>
                                        <div class="item">Option 5</div>
                                </div>

                            </div>
                        </div>             -->
                    </div>
                </div>
            </div>
        <div class="main-area">
            <div class="container-info">
                <!-- Phần header của chỉ mục item -->
                <div class="tool-bar my-bg-color">
                    <div class="left-tool-bar">
                        <p id="heading-tool-bar">
                            Bánh canh cua đồng
                        </p>
                        <div class="user-tool-bar"> 
                            <img id="avatar-toolbar" src="./images/avatar.jpg" alt="Avatar">
                            <p id="username-toolbar">Lê Xuân Cường</p>
                        </div>
                    </div>
                    <div class="right-tool-bar">
                        <button class="btn" id="btn-lotus"><i id = 'color-item' class="fas fa-spa"></i></button>
                        <button class="btn" id="btn-clock"><i id = 'color-item' class="fas fa-clock"></i></button>
                        <button class="btn" id="btn-team"><i id = 'color-item' class="fas fa-users"></i></button>
                        <button class="btn" id="btn-fire"><i id = 'color-item' class="fas fa-fire-alt"></i></button>
                    </div>
                    </div>

                <!-- Thêm Title cho phần thành phần  -->
                <div class="header-area my-bg-color">
                    <img src = "./images/hexagons.png" alt="Thành phần" />
                    <p>Thành Phần</p>
                </div>

                <!-- Thông tin phần thành phần  -->

                <div class="ingredient-info ">
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                </div>

                <!-- Các bước thực hiện -->
                <div class="header-area my-bg-color">
                    <img src = "./images/food_and_restaurant.png" alt="Thành phần" />
                    <p>Các bước thực hiện</p>
                </div>
                <div class="ingredient-info">
                    <div class="custom-check step-direction">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Combine milk with vinegar in a medium bowl and set aside for 5 minutes to "sour".</label>
                    </div>
                    <div class="custom-check step-direction">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk
                            egg and butter into "soured" milk. Pour the flour mixture into the wet ingredients and whisk
                            until lumps are gone.</label>
                    </div>
                    <div class="custom-check step-direction">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk
                            egg and butter into "soured" milk. Pour the flour mixture into the wet ingredients and whisk
                            until lumps are gone.</label>
                    </div>
                </div>

                <!-- Thêm Title cho phần thành phần  -->
                <div class="header-area my-bg-color">
                    <img src = "./images/image.png" alt="Thành phần" />
                    <p>Kết quả</p>
                </div>

                <div class="image-area">
                    <img src = "./images/imagecard.png" alt="Thành phần" />
                </div>
                
                <div class="bottom-bar">

                    <button class="btn1" id="btn-lotus1"><img class = 'img-item1' src="./images/lotus.png"></img></button>
                    <button class="btn1" id="btn-comment1" onclick="window.location.href='/comment'"><img class = 'img-item1' src="./images/comment.png"></img></button>

                </div>
                

            </div>

            <div class = "btn-add-new">
                <button class="btn-hover color-3" onclick="window.location.href='/postrecipe'"><i class="fas fa-plus" id ='ico-plus'></i></button>
                <p>Tạo món ăn mới</p>
            </div>
        </div>

        <div class="right-area">

        </div>
        </div>
    </div>

        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='./js/home.js'></script>
    <script src='./js/header.js'></script>
</body>
</html>

