<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import Boostrap css, js here -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/mainstyle.css" rel="stylesheet">
    <link href="./css/for-item.css" rel="stylesheet">


    <script>
        $( document ).ready(function() {
    $('.clickToggle').click(function() {
        $(this).children('div').toggleClass('imgPlus imgMinus');
    });
    });
    </script>
    <title>Document</title>
</head>
<body>
    <div class="container-fluid p-0">
        <!-- Load thư viện vào tập tin  -->
        <%- include("./partials/header") -%> 

        <div class="row col-md-12 pt-2">
            <div class="col-md-2 p-1 pt-4 show-category">
                <div class = "show-category-container">
                    <p>TÌM KIẾM THEO NHÓM</p>
                    <div class = "show-list-category">
                    <!-- Nội dung trong file jquery -->
                        <!-- <div class="category">
                            <div class="dropdown-category">
                                <div class="dropdown-category-name">Loại món ăn </div>
                                <span class = "icon-category">
                                    <img src="./svg/arrow.svg" />
                                </span>
                                <div class="list">
                                        <div class="item">Option 1</div>
                                        <div class="item">Option 2</div>
                                        <div class="item">Option 3</div>
                                        <div class="item">Option 4</div>
                                        <div class="item">Option 5</div>
                                </div>

                            </div>
                        </div>             -->
                    </div>
                </div>
            </div>

            <div class="col-md-8 container-info">
                <!-- Phần header của chỉ mục item -->
                <div class="tool-bar">
                    <div class="left-tool-bar">
                        <p id="heading-tool-bar">
                            Bánh canh cua đồng
                        </p>
                        <div class="user-tool-bar"> 
                            <img id="avatar-toolbar" src="./images/avatar.jpg" alt="Avatar">
                            <p id="username-toolbar">Lê Xuân Cường</p>
                        </div>
                    </div>
                    <div class="right-tool-bar">
                            <button class="btn" id="btn-lotus"><img class = 'img-item' src="./images/lotus.png"></img></button>
                            <button class="btn" id="btn-clock"><img class = 'img-item' src="./images/clock.png"></img></button>
                            <button class="btn" id="btn-team"><img class = 'img-item' src="./images/team.png"></img></button>
                            <button class="btn" id="btn-fire"><img class = 'img-item' src="./images/fire.png"></img></button>
                            <img class = 'img-arrow' src="./svg/arrow.svg" />
                    </div>
                </div>

                <!-- Thêm Title cho phần thành phần  -->
                <div class="header-area">
                    <img src = "./images/hexagons.png" alt="Thành phần" />
                    <p>Thành Phần</p>
                </div>

                <!-- Thông tin phần thành phần  -->

                <div class="ingredient-info">
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                    <div class="custom-check">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Thành phần 1</label>
                    </div>
                </div>

                <!-- Các bước thực hiện -->
                <div class="header-area">
                    <img src = "./images/food_and_restaurant.png" alt="Thành phần" />
                    <p>Các bước thực hiện</p>
                </div>
                <div class="ingredient-info">
                    <div class="custom-check step-direction">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Combine milk with vinegar in a medium bowl and set aside for 5 minutes to "sour".</label>
                    </div>
                    <div class="custom-check step-direction">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk
                            egg and butter into "soured" milk. Pour the flour mixture into the wet ingredients and whisk
                            until lumps are gone.</label>
                    </div>
                    <div class="custom-check step-direction">
                        <input id="q3" name="h" type="checkbox" />
                        <label for="q3">Combine flour, sugar, baking powder, baking soda, and salt in a large mixing bowl. Whisk
                            egg and butter into "soured" milk. Pour the flour mixture into the wet ingredients and whisk
                            until lumps are gone.</label>
                    </div>
                </div>

                <!-- Thêm Title cho phần thành phần  -->
                <div class="header-area">
                    <img src = "./images/image.png" alt="Thành phần" />
                    <p>Kết quả</p>
                </div>

                <div class="image-area">
                    <img src = "./images/imagecard.png" alt="Thành phần" />
                </div>
                
                <div class="bottom-bar">
                    <svg class="Rectangle_122_h">
                        <linearGradient id="Rectangle_122_h" spreadMethod="pad" x1="1" x2="-0.195" y1="0.77" y2="0.779">
                            <stop offset="0" stop-color="#5680e9" stop-opacity="1"></stop>
                            <stop offset="1" stop-color="#9169d8" stop-opacity="0.788"></stop>
                        </linearGradient>
                        <rect fill="url(#Rectangle_122_h)" id="Rectangle_122_h" rx="0" ry="0" x="0" y="0" width="100%" height="1">
                        </rect>
                    </svg>

                    <button class="btn1" id="btn-lotus1"><img class = 'img-item1' src="./images/lotus.png"></img></button>
                    <button class="btn1" id="btn-comment1"><img class = 'img-item1' src="./images/comment.png"></img></button>



                </div>
                

            </div>
            <div class="col-md-2 add-container pl-5">
                <div class = "btn-add-new">
                    <svg class="circlebtn">
                        <linearGradient id="circlebtn" spreadMethod="pad" x1="0.942" x2="0.066" y1="0.5" y2="0.5">
                            <stop offset="0" stop-color="#5680e9" stop-opacity="1"></stop>
                            <stop offset="1" stop-color="#8860d0" stop-opacity="0.878"></stop>
                        </linearGradient>
                        <ellipse fill="url(#circlebtn)" onclick="application.goToTargetView(event)" id="circlebtn" rx="40" ry="40" cx="40" cy="40">
                        </ellipse>
                        
                    </svg>
                    <svg class="plusbtn" viewBox="-2064 0 49 50">
                    <path fill="rgba(255,255,255,1)" id="plusbtn" d="M -2043.153930664062 50.00040054321289 L -2043.153930664062 29.23110008239746 L -2063.999755859375 29.23110008239746 L -2063.999755859375 21.23100090026855 L -2043.153930664062 21.23100090026855 L -2043.153930664062 0 L -2035.15380859375 0 L -2035.15380859375 21.23100090026855 L -2015.000122070312 21.23100090026855 L -2015.000122070312 29.23110008239746 L -2035.15380859375 29.23110008239746 L -2035.15380859375 50.00040054321289 L -2043.153930664062 50.00040054321289 Z">
                    </path>
                    </svg>
                    <p>Tạo món ăn mới</p>
                </div>
            </div>
         </div>

        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='./js/home.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>

