<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") -%> 
   
    <link href="./css/partials/headertmp.css" rel="stylesheet">
    <link href="./css/partials/dropdown.css" rel="stylesheet">
    <link href="./css/partials/card.css" rel="stylesheet">
    <link href="./css/partials/button.css" rel="stylesheet">

    
    <link href="./css/myprofile.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!-- Load thư viện vào tập tin  -->
        <%- include("./partials/headertmp") -%> 

        <div class="background-custom">
            <div class="user-area">
                <img class ="layer" src="./images/picture/cover-photo.jpg" alt="Ảnh">
                <div class="combo-image">
                    <img id = 'avatar-image' src ="./images/avatar.jpg">
                    <div class="upload-image-area">
                        <img id = 'upload-image' src="./images/data.png">
                        <p>Tải ảnh đại diện lên</p>
                    </div>
                </div>

                <p class = "text text-3">Lê Xuân Cường</p>
            </div>
            <div class="introduce-area">
                <p class="p-2nd">Một giới thiệu ngắn về bản thân bạn để mọi người có thể hiểu thêm về bạn</p>
                <div class="paragraph">
                    <textarea disabled rows="3" cols="70"> Cooking is both an art and a science. The technical parts of cooking involve chemistry, mathematics and physics. The art of cooking involves pleasing the eye and the palate. We first "taste" the food we we eat by observing how it looks.
                    </textarea>
                </div>
            </div>

            <div class="next-page">
                <p>Các món ăn của <span>Cường</span></p>
                <img id = "btn-next-page" src = "./images/interface.png">
            </div>
        </div>
        
    </div>

    <script src='./js/home.js'></script>
    <script src='./js/header.js'></script>
</body>
</html>

