<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">       

    <%- include("./partials/head") -%> 
   
    <link href="./css/partials/headertmp.css" rel="stylesheet">
    <link href="./css/partials/dropdown.css" rel="stylesheet">
    <link href="./css/partials/card.css" rel="stylesheet">
    <link href="./css/partials/button.css" rel="stylesheet">
    <link href="./css/partials/layout.css" rel="stylesheet">

    <!-- <link href="./css/myrecipe.css" rel="stylesheet"> -->
    <link href="./css/recommend.css" rel="stylesheet">

    
    <script>
        $( document ).ready(function() {
    $('.clickToggle').click(function() {
        $(this).children('div').toggleClass('imgPlus imgMinus');
    });
    });
    </script>
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <!-- Load thư viện vào tập tin  -->
        <%- include("./partials/headertmp") -%> 

        <button type="button" id="btnTrigger" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none;">
        </button>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                    <img src = './images/caution.png'>
                    <p>
                        Đảm bảo rằng bạn có đủ số lượng món ăn để đưa ra gợi ý
                    </p>
                    <button type="button" class="btn-recommend color-3"  data-dismiss="modal">Đồng ý</button>
              </div>
            </div>
          </div>
          
        </div>

        <div class="content-container">
            <div class="left-area">
                <div class="user-area">
                    <img src ="./images/avatar.jpg">
                    <p class = "username">Lê Xuân Cường</p>
                </div>
            </div>


            <div class="main-area recommend-area-container">

                <div class="text-for-label">
                    <p>GỢI Ý BỮA ĂN</p>
                </div>

                <div class="recommend-area">
                    <div class="input-area">
                        <label for = 'input-serving'> Khẩu phần</label>
                        <input type="text" placeholder="1" id = input-serving>
                    </div>
                    <div class="input-area">
                        <label for = 'input-serving'>Năng lượng</label>
                        <input type="text" placeholder="1" id = input-serving>
                    </div>
                    <div class="input-area">
                        <label for = 'input-serving'>Loại bữa ăn</label>
                        <select name="Bữa sáng " id="type-meal">
                            <option value="1">Bữa Sáng</option>
                            <option value="2">Bữa Trưa</option>
                            <option value="2">Bữa tối</option>
                        </select>
                    </div>
                </div>

                <div class="recommend-btn">
                    <button class="btn-recommend color-3">Gợi ý</button>
                </div>


                <div class="all-card-container">
                <div class = "card-container">
                    <img width="90%" src="./images/imagecard.png"> 
                    <div class = "list-item">
                        <button class="btn" id="btn-lotus"><i id = 'color-item' class="fas fa-spa"></i></button>
                        <button class="btn" id="btn-clock"><i id = 'color-item' class="fas fa-clock"></i></button>
                        <button class="btn" id="btn-team"><i id = 'color-item' class="fas fa-users"></i></button>
                        <button class="btn" id="btn-fire"><i id = 'color-item' class="fas fa-fire-alt"></i></button>
                    </div>
                    <div class="text-card-area">
                        <p class = "text-card">Canh cua đồng nấu cải </p>
                    </div>
                    <button class="order-number">
                        1 
                    </button>
                </div>

                <div class = "card-container">
                    <img width="90%" src="./images/imagecard.png"> 
                    <div class = "list-item">
                        <button class="btn" id="btn-lotus"><i id = 'color-item' class="fas fa-spa"></i></button>
                        <button class="btn" id="btn-clock"><i id = 'color-item' class="fas fa-clock"></i></button>
                        <button class="btn" id="btn-team"><i id = 'color-item' class="fas fa-users"></i></button>
                        <button class="btn" id="btn-fire"><i id = 'color-item' class="fas fa-fire-alt"></i></button>
                    </div>
                    <div class="text-card-area">
                        <p class = "text-card">Canh cua đồng nấu cải </p>
                    </div>
                    <button class="order-number">
                        2 
                    </button>
                </div>

                <div class = "card-container">
                    <img width="90%" src="./images/imagecard.png"> 
                    <div class = "list-item">
                        <button class="btn" id="btn-lotus"><i id = 'color-item' class="fas fa-spa"></i></button>
                        <button class="btn" id="btn-clock"><i id = 'color-item' class="fas fa-clock"></i></button>
                        <button class="btn" id="btn-team"><i id = 'color-item' class="fas fa-users"></i></button>
                        <button class="btn" id="btn-fire"><i id = 'color-item' class="fas fa-fire-alt"></i></button>
                    </div>
                    <div class="text-card-area">
                        <p class = "text-card">Canh cua đồng nấu cải </p>
                    </div>
                    <button class="order-number">
                        3
                    </button>
                </div>

                </div>


                <div class = "btn-add-new">
                    <button class="btn-hover color-3" onclick="window.location.href='/postrecipe'"><i class="fas fa-plus" id ='ico-plus'></i></button>
                    <p>Tạo món ăn mới</p>
                </div>
            </div>

            <div class="right-area">

            </div>
         </div>

        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src='./js/greeting.js'></script> -->
    <script src='./js/home.js'></script>
    <script src='./js/recommend.js'></script>
    <script src='./js/header.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>

