<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/signup.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div class="full-container">
        <div class="nav-area">
            <a href="/">
                <img src="./images/logo.png" height="50">
            </a>
        </div>




        <div class="full-content">
            <div class="logo-area">
            <img src="./images/Logo-big.png" alt="Cooking is easy">
            </div>
            <div class="content-signup">
                <h1>ĐĂNG KÍ</h1>
                <p>Bạn đã có tài khoản CoCoCook.net? <span id = 'login-span'  onclick="window.location.href='/signin'">Đăng Nhập</span> </p>

                <div class="input-container">
                    <input type="text" required=""/>
                    <label>Tên Tài Khoản</label>		
                </div>
                <div class="input-container">
                    <input type="text" required=""/>
                    <label>Mật khẩu</label>		
                </div>
                <div class="input-container">
                    <input type="text" required=""/>
                    <label>Nhập lại mật khẩu</label>		
                </div>
                <div class="input-container">
                    <input type="text" required=""/>
                    <label>Email</label>		
                </div>

                <div class="custom-check">
                    <input id="q3" name="h" type="checkbox" />
                    <label for="q3">Tôi đồng ý vs các <span id = 'login-span'>Điều Khoản</span> của CoCoCook</label>
                    </div>
                <button class="btn-hover color-3" onclick="window.location.href='/home'">Đăng kí</button>
            </div>
            <div class="support-area">

            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>

