
#btn-home{
    border-bottom: 0.2em solid transparent;
    border-image: linear-gradient(to right, #8860D0 , #5680E9); 
    border-image-slice: 1; 
}
#btn-home p{
    color: #000;
}
#backbtn{
    cursor: pointer;
}
#backbtn + p{
    cursor: pointer;
}