/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 768px) {
    html{
      font-size: 16px !important;
      margin: 0;
      padding: 0;
    }
    .main-container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .content-container{
        display: flex;
        flex-direction: row;
    }
    .left-area{
        width: 16%;
    }
    .main-area{
        width: 68%;
    }
    .right-area{
        width: 16%;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 768px) {
    html {
      font-size: 10px !important;
    }
    .main-container{
        width: 100%;
    }
    .content-container{
        display: flex;
        flex-direction: row;
    }
    .left-area{
        width: 0%;
    }
    .main-area{
        width: 100%;
    }
    .right-area{
        width: 0%;
    }
}
body{
    margin: 0 !important;
    padding: 0;
}

#btn-home{
    border-bottom: 0.2em solid transparent;
    border-image: linear-gradient(to right, #8860D0 , #5680E9); 
    border-image-slice: 1; 
}
#btn-home p{
    color: #000;
}
#backbtn{
    cursor: pointer;
}
#backbtn + p{
    cursor: pointer;
}