/* Cài đặt cho border bottom trên nav bar */
#btn-recommend{
    border-bottom: 0.2em solid transparent;
    border-image: linear-gradient(to right, #8860D0 , #5680E9); 
    border-image-slice: 1; 
}
#btn-recommend p{
    color: #000;
}

.all-card-container{
    width: 100%;
    padding: 1%;
    display: none;
}
.all-card-container .order-number{
    border-radius: 50%;
    border: 1px solid #C1C8E5;
    width: 2em;
    height: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: transparent;
    color: #C1C8E5;
}

.recommend-area{
    width: 100%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.recommend-area .input-area{
    width: 20%;
    display: flex;
    flex-direction: column;
    border-left: 0.4em solid transparent;
    border-image: linear-gradient(to bottom, #8860D0 , #5680E9); 
    border-image-slice: 1; 
    padding-left: 2%;
}
.recommend-area .input-area input{
    width: 30%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(136, 96, 208, 58);
    text-align: center;

}
.recommend-area .input-area input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.recommend-area .input-area input ::-webkit-input-placeholder {
    text-align: center;
  }
  
.recommend-area .input-area input :-moz-placeholder {
    text-align: center;
}

.group-category{
    width: 8em !important;
    height: 2.5em !important;
}
.dropdown-group-category-name{
    width: 8em !important;
    height: 2.5em !important;

}

.input-area select{
    margin-top: 2%;
    background-color: transparent;
    border: none;
    width: fit-content;
    border-bottom: 1px solid rgba(136, 96, 208, 58);
}
.input-area select:focus{
    outline: 0;
}

.text-for-label{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin: 1em auto;
    border: 1px solid #8860D0; 
    margin-bottom: 3em;
}
.text-for-label p{
    display: inline;
    display: inline;
    font-size: 1.6em;
    font-weight: 500;
    margin: auto 0;
}
.recommend-area-container{
    margin-top: 10%;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    width: 100%;
    align-self: center;
    border-radius: 1.5em !important;

}


.modal-content p{
    font-weight: 500;
    font-size: 1.2em;
}
/* Avatar area  */
.user-area {
    padding: 1em;
    width: 100%;
    height: fit-content;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em ;
    text-align: center;
}
.user-area img{
    width: 100%;
    border-radius: 50%;
}
.user-area p.username{
    color: #000;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0;
}

body{
    background-color: #EEEDF2;
}