/* Avatar area  */
.user-area {
    padding: 1em;
    width: 100%;
    height: fit-content;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em ;
    text-align: center;
}
.user-area img{
    width: 100%;
    border-radius: 50%;
}
.user-area p.username{
    color: #000;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0;
}

body{
    background-color: #EEEDF2;
}