.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 0.2em 0.9em 0 rgba(0, 0, 0, 0.7);
}
.btn-hover:focus {
    outline: none;
}
.btn-hover {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    text-align:center;
    border: none;    
    position: relative;
    background-size: 300% 100%;
    border-radius: 50%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* Nút xong trong recommend */
.recommend-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;

}
.btn-recommend {
    width: 8em;
    height: 3em;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-recommend:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-recommend:focus {
    outline: none;
}
.btn-recommend.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 0.2em 0.9em 0 rgba(0, 0, 0, 0.7);
}


#ico-plus{
    font-size: 2em;
    color: #fff;
}


.color-btn {
    background: linear-gradient(to right, #667eea, #8E37D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
